<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<display-name>ProxiBanqueV2</display-name>
	
		<!-- 1. Page d'accueil -->
	<welcome-file-list>
		<welcome-file>DemarrageServlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>IdentificationServlet</servlet-name>
		<display-name>IdentificationServlet</display-name>
		<description></description>
		<servlet-class>fr.gtm.presentation.IdentificationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DemarrageServlet</servlet-name>
		<display-name>DemarrageServlet</display-name>
		<description></description>
		<servlet-class>fr.gtm.presentation.DemarrageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListerClientServlet</servlet-name>
		<display-name>ListerClientServlet</display-name>
		<description></description>
		<servlet-class>fr.gtm.presentation.ListerClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddClientServlet</display-name>
		<servlet-name>AddClientServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.AddClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AfficherClientServlet</display-name>
		<servlet-name>AfficherClientServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.AfficherClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateClientServlet</display-name>
		<servlet-name>UpdateClientServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.UpdateClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUtilisationCLientServlet</display-name>
		<servlet-name>UpdateUtilisationCLientServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.UpdateUtilisationCLientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteClientServlet</display-name>
		<servlet-name>DeleteClientServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.DeleteClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCompteServlet</display-name>
		<servlet-name>AddCompteServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.AddCompteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VirementServlet</display-name>
		<servlet-name>VirementServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.VirementServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InitVirementServlet</display-name>
		<servlet-name>InitVirementServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.InitVirementServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InitVirementClientServlet</display-name>
		<servlet-name>InitVirementClientServlet</servlet-name>
		<servlet-class>fr.gtm.presentation.InitVirementClientServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IdentificationServlet</servlet-name>
		<url-pattern>/IdentificationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DemarrageServlet</servlet-name>
		<url-pattern>/DemarrageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListerClientServlet</servlet-name>
		<url-pattern>/ListerClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddClientServlet</servlet-name>
		<url-pattern>/AddClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AfficherClientServlet</servlet-name>
		<url-pattern>/AfficherClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateClientServlet</servlet-name>
		<url-pattern>/UpdateClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUtilisationCLientServlet</servlet-name>
		<url-pattern>/UpdateUtilisationCLientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteClientServlet</servlet-name>
		<url-pattern>/DeleteClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCompteServlet</servlet-name>
		<url-pattern>/AddCompteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VirementServlet</servlet-name>
		<url-pattern>/VirementServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitVirementServlet</servlet-name>
		<url-pattern>/InitVirementServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitVirementClientServlet</servlet-name>
		<url-pattern>/InitVirementClientServlet</url-pattern>
	</servlet-mapping>
</web-app>
